body {
  margin: 0;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/Inter/static/Inter_18pt-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../src/fonts/Inter/static/Inter_18pt-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('../src/fonts/Inter/static/Inter_18pt-ExtraBold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/Tomorrow/Tomorrow-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Tomorrow';
  font-style: normal;
  font-weight: 500;
  src: url('../src/fonts/Tomorrow/Tomorrow-Medium.ttf') format('truetype');
}
